@model List<ExampleModel>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Example</h2>
<a class="btn btn-primary" href="~/Home/Add">Add new</a>

<div class="row">
    @foreach (var item in Model)
    { 
        <div class="col-sm-4">
            <h4>Id: @item.Id </h4>
            <p>
                @item.Description
            </p>
        </div>
    }
</div>