@import url('https://fonts.googleapis.com/css?family=Prompt:400,700&display=swap');

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .navbar {
  font-family: 'Prompt';
  text-transform: uppercase;
  font-weight: bold;
}

#main-container {
  padding-top: 65px;
}

.svg-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  fill: #828282;
}
