<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="background">
      <div class="background-content" style="background-image: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1333&q=80);"></div>
    </div>

    <div id="main-container" class="container" aria-label="Content">
      {{ content }}
    </div>

    {%- include footer.html -%}
    {%- include foot.html -%}
  </body>

</html>
